@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;700&family=DM+Serif+Display&family=Inconsolata:wght@300;400;500;700&family=Inter:wght@300;400;500;600;700;800;900&family=Nanum+Myeongjo&family=Overpass+Mono:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

html {
  margin:0;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color1: rgb(67, 0, 100);
  --color2: rgb(0, 0, 0);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  scroll-behavior: smooth;
}

body {
  /* background-image: linear-gradient(0deg, var(--color1), var(--color2)); */
  color: #fafafa;
  background-color: rgb(26, 0, 90);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Archivo', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 97.5vh;
  animation: backGroundColorChange 30s infinite;
}

@keyframes backGroundColorChange {
  0% {
    background-color: #252525;
  }

  25% {
    background-color: #2c0010
  }

  50% {
    background-color: #39183a;
  }

  75% {
    background-color: #13072e;
  }

  100% {
    background-color: #252525;
  }
}

::selection {
  background-color: rgba(255, 255, 255, 0.417);
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

header {
  display: flex;
  /* float:left; */
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 150px;
  width: 60%;
  text-decoration: underline dotted 2px;
  text-underline-offset: 10px;
}

h1 {
  font-family: 'Playfair Display', 'Overpass Mono', serif, monospace;
  font-weight: lighter;
  letter-spacing: -8px;
  word-spacing: 15px;
  cursor: pointer;
}

header:hover {
  text-decoration: underline dotted 2px;
  text-underline-offset: 10px;
}

.information {
  font-family: 'Inter', 'Inconsolata';
  display:flex;
  align-items: center;
  margin-left: 2%;
  height: 150px;
  float:right;
  font-size: 1em;
  width: 30%;
  cursor: pointer
  /* word-spacing: 2px;
  letter-spacing: -1px; */
  /* font-weight: lighter; */
}

.info-me {
  /* color: white; */
  text-decoration: none;
}

.info-me:visited {
  color: rgba(105, 105, 105, 0.31);
}

.info-me:hover {
  text-decoration: underline solid;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2%;
}

.material-icons.md-48 {
   font-size: 48px; 
}

.action-icons {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-right: 1%;
}

.material-icons.customSize {
  margin-bottom: 25%;
  margin-top: 20%;
  font-size: 3em;
  opacity: 0.4;
}

.material-icons.biggerSize {
  margin-bottom: 25%;
  margin-top: 20%;
  font-size: 3.5em;
  opacity: 0.6;
}

.material-icons.customSize:hover, .material-icons.biggerSize:hover {
  opacity: 0.8;
  cursor: pointer;
}

.radio {
  height: 400px;
  width: 20%;
  /* margin-right: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radio:hover + .action-icons {
  opacity: 0.4;
}

.visuals {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.note {
  font-family: 'Inter', 'Inconsolata';
  /* font-weight: lighter; */
  margin-top: 4%;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1em;
  word-spacing: 2px;
  font-weight: 600;
  /* border: 1px dashed; */
  /* border-radius: 40px; */
}

p {
  font-family: 'Inconsolata';
  text-align: center;
  word-spacing: 2px;
  letter-spacing: -0.7px;
  /* font-weight: bolder; */
  font-size: 1.2em;
}

.note:hover {
  cursor: default;
  /* font-weight: bold; */
  background-image: linear-gradient(0deg, rgba(194, 194, 194, 0.268), rgba(172, 172, 172, 0));
  border-bottom: 3px dotted;
}

.tick {
  font-family: 'Overpass Mono', monospace;
  display: flex;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0.345);
  border-radius: 40px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.radio-label {
  float: right;
  cursor: pointer;
}

.price-table {
  font-family: 'Overpass Mono', monospace;
  width: 70%;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.price-table:hover {
  overflow-y: auto;
}

.column-head {
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-head:hover {
  background-image: linear-gradient(0deg, rgba(194, 194, 194, 0.268), rgba(172, 172, 172, 0));
  font-weight: bold;
}

.column-values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price-val {
  font-size: 13px;
  width: 100%;
  margin: 4%;
  margin-left: 0px;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(191, 191, 191, 0.155);
  border-radius: 0px; 
}

.head-val {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(191, 191, 191, 0.345);
  border-radius: 25px;
  padding: 5%;
  margin-bottom: 10%;
  font-weight: bold;
}

.tick:hover, .tick-row:hover{
  background-color: rgba(191, 191, 191, 0.445);
  cursor: pointer;
  font-weight: 600;
}

.radio-label, .help-radio-label {
  display: none;
}

.radio-label:checked + label .tick, .help-radio-label:checked + label .tick-row{
  background-color: rgba(218, 218, 218, 0.601);
  outline: 3px dotted rgb(182, 182, 182);
  outline-offset: 4px;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 4%;
  font-weight: bold;
}

.loading-message {
  /* opacity: 0.7; */
  margin-top: 150px;
  letter-spacing: -2px;
  word-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: lighter;
  animation: flicker ease-in-out 1s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0.5;
  }
}

.date-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.date-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata';
  font-size: 1.4em;
  text-decoration: underline 2px dotted;
  color: red;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
}

.date-field input, input {
  font-family: 'Overpass Mono';
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.245);
  color: rgba(255, 255, 255, 0.828);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 4%;
  border: transparent;
}

.input-date:hover {
  cursor: pointer;
  opacity: 0.9;
}

.graphs {
  margin: 40px;
  height: 90vh;
  cursor: default;
  /* font-size: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translateX(-200px); */
  opacity: 0;
  transition: 1s all ease;
}

.graphs.active{
  /* transform: translateX(0px); */
  opacity: 1;
}

.innerabout, .innerhelp {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted; */
  /* border-right: 2px dotted; */
  /* border-radius: 20px; */
  margin: 20px;
  height: 90%;
}

.headabout, .headhelp, .graphabout {
  display: flex;
  text-decoration: underline 2px dotted  ;
  text-underline-offset: -2px;
  /* letter-spacing: -4px; */
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
  font-family: 'Inconsolata';
  font-weight: bold;
}

.headhelp {
  margin-bottom: 20px;
}

.lastdiv {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 20px;
  margin-top: 0px;
  height: 10px;
  animation: bobbleup 1s infinite ;
  /* padding-right: 8%; */
}

@keyframes bobbleup {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
  
}

.infoabout, .helptext, .helptexticon {
  /* font-size: 1.2em; */
  font-family: 'Inconsolata';
  /* font-weight: bold; */
  text-align: center;
  margin: 5%;
}

.helptext, .helptexticon {
  text-align: left;
  /* width: 70%; */
}

.helptexticon {
  padding-bottom: 5%;
  padding-left: 2%;
}

.row {
  height: 100px;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-last {
  font-family: 'Overpass Mono';
  font-weight: bold;
  margin-top: 20px;
}

.headhelp {
  margin-bottom: 20px;
}

.tick-row {
  font-family: 'Overpass Mono', monospace;
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.345);
  border-radius: 40px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

.help-tick-label {
  display: flex;
  justify-content: center;
}

.help-input-date {
  padding: 2%;
  height: 8px;
  width: fit-content ;
  text-align: center;
}

.innergraph {
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* svg {
  padding-left: 50px;
  padding-right: 50px;
  border: 1px dotted white;
} */

.yAxis>.tick>text, .xAxis>.tick>text {
  font-size: 0.6em;
}

.yAxisLabel, .xAxisLabel {
  font-family: 'Inter';
  color: white;
  font-size: 1.2em;
}

.yAxis, .xAxis {
  stroke-width: 3;
}

.chart-graph {
  stroke-width: 2;
}

.tooltip {
  background-color: white;
  color:rgb(0, 0, 0);
  font-family: 'Inter';
  font-weight: bold;
  font-size: 0.8em;
}

.graphabout {
  margin-bottom: 0px;
}

.idkstfupls {
  color:rgba(63, 63, 63, 0.528);
  color: rgba(255, 255, 255, 0.584);
}